html {
  font-size: 100%;
}
body {
  color: black;
  width: 100%;
  font-family: "Hiragino Kaku Gothic ProN";
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 140px;
}
.header {
  background-color: #FBAA31;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 100;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
.page-title {
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 12px 0;
}
.page-title span {
  font-size: 38px;
}
.fa-bars {
  font-size: 45px;
  margin: 18px 40px 18px 0;
}
.menu {
  background-color: #FBAA31;
  width: auto;
  height: 800px;
  transform: translateY(-100%);
  position: relative;
  z-index: 10;
  transition: 0.5s;
}
.menu ul {
  padding-top: 100px;
}
.menu li {
  text-align: center;
}
.menu a {
  font-size: 70px;
  color: white;
  line-height: 110px;
}
.menu a:hover {
  border-bottom: 5px solid white;
  transition: 0.3s;
}
.drawer-btn {
  transform: scale(10);
  position: absolute;
  z-index: 110;
  top: 30px;
  right: 170px;
  opacity: 0;
}
.drawer-btn:checked ~ .menu{
  transform: translateY(10%);
  transition: 0.5s;
}
.img-slide {
  border-radius: 8%;
  z-index: 1;
  position: relative;
  width: 1200px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
}
.slider-item {
  width: 1200px;
  float: left;
}
.slider-item img {
  object-fit: cover;
  height: 600px;
}
.slide-inner {
  width: 300%;
  animation: slider 30s infinite ease;
}
@keyframes slider {
	0% {
	transform: translateX(0);
	}
	33% {
	transform: translateX(-1200px);
	}
	66% {
	transform: translateX(-2400px);
	}
	100% {
	transform: translateX(0);
	}
}
main {
  margin-top: 50px;
}
.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #6E6E6E;
}
.main-title::before,.main-title::after {
  border-top: 3px solid #D0CECE;
  content: "";
  width: 480px;
}
.main-title::before {
  margin-right: 10px; 
}
.main-title::after {
  margin-left: 10px; 
}
.About p {
  font-size: 28px;
  width: 800px;
  text-align: justify;
  text-justify: inter-ideograph;
  line-height: 40px;
  margin: 20px auto 0 auto;
}
.About .more {
  text-align: center;
  background-color: #FBAA31;
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 200px;
  line-height: 50px;
  font-size: 24px;
  margin-top: 30px;
}
.Event {
  margin-top: 50px;
}
.Event ul {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.Event ul p {
  padding-top: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 34px;
}
.Event img {
  object-fit: cover;
  width: 350px;
  height: 300px;
}
.Event .more {
  margin: 30px auto 0 auto;
  font-size: 24px;
  background-color: #FBAA31;
  color: white;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 200px;
}
.Contact {
  margin-top: 50px;
}
.Contact .main-title::before{
  width: 530px;
}
.Contact .main-title::after {
  width: 530px;
}
.Contact-inner {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}
.contact-account {
  width: 250px;
  height: 300px;
  margin-left: 100px;
  margin-top: 30px;
}
.contact-account li {
  padding-bottom: 40px;
}
.contact-account li h3 {
  padding-bottom: 10px;
}
.contact-account li p {
  font-size: 30px;
  border-bottom: 1px solid #6E6E6E;
  line-height: 40px;
}
.contact-title {
  font-size: 25px;
}
.Twitter {
  width: 500px;
  padding-right: 30px;
}
footer {
  background-color: #FFF2C1;
  margin-top: 50px;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
}
footer .page-title {
  color: black;
  padding: 24px 0;
}
.SNS {
  padding-top: 10px;
  width: 300px;
  font-size: 20px;
}
.SNS ul {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.SNS .fa,.fa-brands {
  font-size: 30px;
  padding-left: 20px;
}
.SNS .fa-instagram {
  padding-left: 35px;
  color: #CF2E92;
}
.SNS .fa-twitter {
  color: #1DA1F2;
}
.SNS .fa-tiktok {
  color: #000000;
}
.SNS .SNS-title {
  font-weight: 550;
}
.copy-write {
  background-color: #F46300;
  text-align: center;
  padding: 5px 0;
}

@media screen and (max-width:960px) {
  .wrapper {
    max-width: 830px;
  }
  header {
    width: auto;
    height: 120px;
  }
  .header {
    max-width: 960px;
  }
  .menu {
    height: 1200px;
  }
  .menu ul {
    padding-top: 250px;
  }
  .drawer-btn:checked ~ .menu{
    transform: translateY(0);
    transition: 0.5s;
  }
  .drawer-btn {
    right: 115px;
  }
  .img-slide {
    width: 800px;
    height: 500px;
  }
  .slider-item {
    width: 800px;
    float: left;
  }
  .slider-item img {
    object-fit: cover;
    height: 500px;
  }
  .slide-inner {
    width: 300%;
    animation: img-slide 20s infinite ease;
  }
  @keyframes img-slide {
    0% {
    transform: translateX(0);
    }
    33% {
    transform: translateX(-800px);
    }
    66% {
    transform: translateX(-1600px);
    }
    100% {
    transform: translateX(0);
    }
  }
  .main-title {
    font-size: 25px;
  }
  .main-title::before,.main-title::after {
    border-top: 3px solid #D0CECE;
    content: "";
    width: 250px;
  }
  .About p {
    font-size: 25px;
    width: 460px;
    line-height: 38px;
  }
  .Event ul {
    flex-direction: column;
    align-items: center;
  }
  .Event ul p {
    padding: 10px 0 30px 0;
    font-size: 20px;
    line-height: 24px;
  }
  .Event img {
    width: 300px;
    height: 300px;
  }
  .Event .more {
    margin: 20px auto 0 auto;
    font-size: 20px;
    width: 150px;
    height: 40px;
    line-height: 40px;
  }
  .Contact .main-title::before{
    width: 300px;
  }
  .Contact .main-title::after {
    width: 300px;
  }
  .Contact-inner {
    flex-direction: column;
    width: 400px;
  }
  .contact-account {
    width: 150px;
    height: 200px;
    margin: 10px 0 0 0;
  }
  .contact-account ul {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-top: 60px;
  }
  .contact-account li h3 {
    font-size: 20px;
  }
  .contact-account li p {
    font-size: 20px;
    border-bottom: 1px solid #6E6E6E;
    line-height: 30px;
  }
  .Twitter {
    width: auto;
    padding-right: 0;
    margin: 0 auto;
  }
  footer .page-title {
    font-size: 14px;
    padding: 25px 0;
  }
  footer .page-title span {
    font-size: 25px;
  }
  .SNS {
    width: 200px;
    font-size: 15px;
    padding-top: 15px;
  }
  .SNS .fa,.fa-brands {
    font-size: 20px;
  }
  .SNS-title {
    text-align: center;
  }
}
@media screen and (max-width:414px) {
  .wrapper {
    max-width: 414px;
    padding: 0 10px;
  }
  header {
    width: auto;
    height: 110px;
  }
  .header {
    max-width: 414px;
  }
  .page-title {
    margin-top: 10px;
    font-size: 15px;
  }
  .page-title span {
    font-size: 25px;
  }
  .drawer-btn {
    right: 60px;
  }
  .menu a {
    font-size: 45px;
    line-height: 80px;
  }
  .img-slide {
    width: 300px;
    height: 200px;
  }
  .slider-item {
    width: 300px;
    float: left;
  }
  .slider-item img {
    object-fit: cover;
    height: 200px;
  }
  .slide-inner {
    width: 300%;
    animation: img-slide 20s infinite ease;
  }
  @keyframes img-slide {
    0% {
    transform: translateX(0);
    }
    33% {
    transform: translateX(-300px);
    }
    66% {
    transform: translateX(-600px);
    }
    100% {
    transform: translateX(0);
    }
  }
  .main-title {
    font-size: 23px;
  }
  .main-title::before,.main-title::after {
    border-top: 3px solid #D0CECE;
    content: "";
    width: 80px;
  }
  .About p {
    font-size: 18px;
    width: 280px;
    line-height: 28px;
  }
  .Event .main-title::before{
    width: 90px;
  }
  .Event .main-title::after {
    width: 90px;
  }
  .Contact .main-title::before{
    width: 130px;
  }
  .Contact .main-title::after {
    width: 130px;
  }
  .Contact-inner {
    width: 300px;
  }
  .contact-account {
    width: 300px;
    height: 120px;
  }
  .contact-account ul {
    width: 300px;
    margin-top: 30px;
  }
  .contact-account li h3 {
    font-size: 18px;
  }
  .contact-account li p {
    font-size: 16px;
    line-height: 20px;
  }
  footer {
    width: auto;
  }
  footer .page-title {
    font-size: 10px;
    padding: 30px 0;
  }
  footer .page-title span {
    font-size: 20px;
  }
}