html {
  font-size: 100%;
}
body {
  color: black;
  width: 100%;
  font-family: "Hiragino Kaku Gothic ProN";
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 140px;
}
header .container {
  display: flex;
  justify-content: space-between;
  background-color: #FBAA31;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 100;
}
.header-left {
  margin-left: 120px;
}
.page-title {
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 12px 0;
}
.page-title span {
  font-size: 38px;
}
/* ここから下がハンバーガーメニューに関するCSS */
  
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 160px;
  top: 40px;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 6px;
  width: 50px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 15px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 15px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 100%;
  left: 0%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #FBAA31;
  transition: .5s;
  text-align: center;
  padding-top: 20px;
}

.nav_list {
  margin-top: 100px;
}

.nav_list ul {
  padding-top: 100px;
}
.nav_list li {
  text-align: center;
}
.nav_list a {
  font-size: 70px;
  color: white;
  line-height: 110px;
}
.nav_list a:hover {
  border-bottom: 5px solid white;
  transition: 0.3s;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

.nav_item a {
  color: #fff;
  text-decoration: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  bottom: 0;/* メニューを画面に入れる */
}
main {
  margin: 150px 0 185px 0;
  text-align: center;
}
.fa-clock {
  font-size: 100px;
}
main h2 {
  font-size: 50px;
}
main p {
  margin-top: 50px;
  font-size: 30px;
}
footer {
  background-color: #FFF2C1;
  margin-top: 50px;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
}
footer .page-title {
  color: black;
  padding: 24px 0;
}
.SNS {
  padding-top: 10px;
  width: 300px;
  font-size: 20px;
}
.SNS ul {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.SNS .fa,.fa-brands {
  font-size: 30px;
  padding-left: 20px;
}
.SNS .fa-instagram {
  padding-left: 35px;
  color: #CF2E92;
}
.SNS .fa-twitter {
  color: #1DA1F2;
}
.SNS .fa-tiktok {
  color: #000000;
}
.SNS .SNS-title {
  font-weight: 550;
}
.copy-write {
  background-color: #F46300;
  text-align: center;
  padding: 5px 0;
}

@media screen and (max-width:960px) {
  .wrapper {
    max-width: 830px;
  }
  header {
    width: auto;
    height: 120px;
  }
  .header {
    max-width: 960px;
  }
  .menu {
    height: 1200px;
  }
  .menu ul {
    padding-top: 250px;
  }
  .drawer-btn:checked ~ .menu{
    transform: translateY(0);
    transition: 0.5s;
  }
  .drawer-btn {
    right: 115px;
  }
  main {
    height: 600px;
  }
  .main-title {
    font-size: 25px;
  }
  .main-title::before,.main-title::after {
    border-top: 3px solid #D0CECE;
    content: "";
    width: 200px;
  }
  footer .page-title {
    font-size: 14px;
    padding: 25px 0;
  }
  footer .page-title span {
    font-size: 25px;
  }
  .SNS {
    width: 200px;
    font-size: 15px;
    padding-top: 15px;
  }
  .SNS .fa,.fa-brands {
    font-size: 20px;
  }
  .SNS-title {
    text-align: center;
  }
}
@media screen and (max-width:414px) {
  .wrapper {
    max-width: 414px;
    padding: 0 10px;
  }
  header {
    width: auto;
    height: 110px;
  }
  .header {
    max-width: 414px;
  }
  .page-title {
    margin-top: 10px;
    font-size: 15px;
  }
  .page-title span {
    font-size: 25px;
  }
  .header-left {
    margin-left: 10px;
  }
  .drawer_open {
    right: 50px;
  }
  .nav_list a {
    font-size: 45px;
    line-height: 80px;
  }
  .menu a {
    font-size: 45px;
    line-height: 80px;
  }
  main {
    margin: 100px 0 160px 0;
  }
  .fa-clock {
    font-size: 80px;
  }
  main h2 {
    font-size: 30px;
  }
  main p {
    font-size: 20px;
    line-height: 26px;
  }
  footer {
    width: auto;
  }
  footer .page-title {
    font-size: 10px;
    padding: 30px 0;
  }
  footer .page-title span {
    font-size: 20px;
  }
}
